Иван Нужденко, с4111  
зависимости - anaconda, python 3.5

In [120]:
import numpy as np
import pandas as pd

# Задание 1

1.	Загрузите выборку из файла titanic.csv с помощью пакета Pandas.

In [121]:
df = pd.read_csv('titanic.csv')

In [122]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

1.1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [123]:
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

1.2.	Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [125]:
round(float(df.Survived.sum() / df.Survived.shape[0] * 100), 2)

38.38

1.3.	Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [127]:
round(float(df.Pclass[df.Pclass == 1].sum() / df.Pclass.shape[0] * 100), 2)

24.24

1.4.	Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [128]:
df.Age.mean(), df.Age.median()

(29.69911764705882, 28.0)

1.5.	Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [129]:
df[['SibSp', 'Parch']].corr() # корреляция = 0.41

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

1.6.	Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [130]:
df['Name'][df['Name'].apply(lambda x: '.' in x and 'M'not in x)]

149      Byles, Rev. Thomas Roussel Davids
150             Bateman, Rev. Robert James
249          Carter, Rev. Ernest Courtenay
398                       Pain, Dr. Alfred
626         Kirkland, Rev. Charles Leonard
647    Simonius-Blumer, Col. Oberst Alfons
660          Frauenthal, Dr. Henry William
694                        Weir, Col. John
745           Crosby, Capt. Edward Gifford
766              Brewe, Dr. Arthur Jackson
796            Leader, Dr. Alice (Farnham)
822        Reuchlin, Jonkheer. John George
848                      Harper, Rev. John
Name: Name, dtype: object

In [131]:
def process_name(x):
    l = x.split('.')
    name = l[1].split()[0]
    # удалим скобки
    k = [i for i in name if i not in '()']
    res = ''.join(k)
    if '/' in res:
        return res.split('/')[0]
    return res

In [132]:
df.Name.apply(process_name).value_counts()

William      48
John         31
Thomas       19
Charles      16
George       16
Henry        15
James        15
Edward       13
Frederick    13
Mary         11
Richard      11
Johan        10
Samuel        9
Anna          9
Karl          9
Joseph        9
Elizabeth     8
Alfred        7
Albert        7
Arthur        7
Victor        6
Robert        6
Ernest        6
Peter         6
Margaret      6
Ernst         5
Harry         5
Walter        5
Alexander     5
Frank         5
             ..
Lyyli         1
Eric          1
Uscher        1
Stanton       1
Mantoura      1
Niels         1
Ali           1
Edwin         1
Berthe        1
Nora          1
Roberta       1
Florence      1
Archibald     1
Agda          1
Liudevit      1
Carla         1
Ervin         1
Herbert       1
Milton        1
Tyrell        1
Branko        1
Darwis        1
Mile          1
Cosmo         1
Todor         1
Julius        1
Choong        1
Pierre        1
Luise         1
Jessie        1
Name: Name, Length: 433, dtype: int64

Самое популярное имя - Mary

In [133]:
def define_referring(x):
    x = x.split(',')[1].split()[0]
    return x

In [134]:
df.Name.apply(define_referring).value_counts()

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Mlle.          2
Major.         2
Col.           2
the            1
Capt.          1
Lady.          1
Jonkheer.      1
Don.           1
Mme.           1
Ms.            1
Sir.           1
Name: Name, dtype: int64

Все обращения, встречающиеся в датасете.   
По ним можно различать имена (если не использовать уже размеченную колонку Sex)

In [135]:
def define_sex(x):
    m = ['Mr.', 'Master.', 'Dr.', 'Rev.', 'Col.', 
       'Major.', 'Jonkheer.', 'Sir.', 'Don.', 'the', 
       'Capt.']
    
    if define_referring(x) in m:
        return 'male'
    else:
        return 'female'

In [136]:
df.Name.apply(define_sex).value_counts()

male      579
female    312
Name: Name, dtype: int64


Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

2.1.	Обратите внимание, что признак Sex имеет строковые значения.  
2.2.	Выделите целевую переменную — она записана в столбце Survived.  
2.3.	В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

In [137]:
filtered = df[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']].dropna()

In [138]:
X = filtered.drop(['Survived'], axis=1)
y = filtered['Survived']

In [139]:
X['Sex'] = X.Sex.map({'female': 0, 'male': 1}).astype('category')

2.4.	Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию (речь идет о параметрах конструктора DecisionTreeСlassifier).

In [140]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [141]:
tree = DecisionTreeClassifier(random_state=241)
tree.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

2.5.	Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую или пробел, порядок не важен).

In [142]:
imp = [i for i, j in sorted(list(enumerate(tree.feature_importances_)), reverse=True)[:2]]

In [143]:
list(X)[imp[0]], list(X)[imp[1]]

('Sex', 'Age')

Ответ: 'Sex', 'Age'

# Задание 2

 Учитывая результаты решения предыдущих примеров, построить модель, прогнозирующую, спасется человек на Титанике или нет.

In [144]:
from sklearn.cross_validation import train_test_split
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [145]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=12345)

Модель построить для двух алгоритмов, «метода ближайших соседей» и «логистической регрессии»  
Проверку модели произвести с помощью скользящего контроля.

Запустим 2 модели с разными параметрами и посмотрим какие результаты они показывают на кросс-валидационной сетке

Возьмем число ближайишх соседей 2, 5, 8, 10 для knn и посмторим какие результаты покажет кросс-валидация

In [146]:
knn_params = {'knn__n_neighbors': [2, 5, 8, 10]}
knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])
knn_grid = GridSearchCV(knn_pipe, knn_params,
cv=5, n_jobs=-1,
verbose=True)

In [147]:
knn_grid.fit(X_test, y_test)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

[Parallel(n_jobs=-1)]: Done  20 out of  20 | elapsed:    5.7s finished

GridSearchCV(cv=5, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('knn', KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
           weights='uniform'))]),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'knn__n_neighbors': [2, 5, 8, 10]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=True)

Лучшая точность у knn с 5 ближайшими соседями

In [148]:
knn_grid.best_params_, knn_grid.best_score_

({'knn__n_neighbors': 5}, 0.80555555555555558)

Точность тюнингованного алгоритма на тестовой выборке:

In [149]:
accuracy_score(y_test, knn_grid.predict(X_test))

0.83333333333333337

Возьмем параметры С = [1, 10, 100, 1000] для логистической регрессии и посмторим какие результаты покажет кросс-валидация

In [150]:
lr_params = {'lr__C': [1, 10, 100, 1000]}
lr_pipe = Pipeline([('scaler', StandardScaler()), ('lr', LogisticRegression())])
lr_grid = GridSearchCV(lr_pipe, lr_params,
cv=5, n_jobs=-1,
verbose=True)

In [151]:
lr_grid.fit(X_test, y_test)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

[Parallel(n_jobs=-1)]: Done  20 out of  20 | elapsed:    2.7s finished

GridSearchCV(cv=5, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('lr', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))]),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'lr__C': [1, 10, 100, 1000]}, pre_dispatch='2*n_jobs',
       refit=True, return_train_score='warn', scoring=None, verbose=True)

Лучшая точность у логистической регрессии с С=1

In [152]:
lr_grid.best_params_, lr_grid.best_score_

({'lr__C': 1}, 0.79166666666666663)

Результат – сравнить точность работы модели по двум алгоритмам, в процентах с округлением до сотых.

In [153]:
lr_score = round(float(accuracy_score(y_test, lr_grid.predict(X_test))), 2)
knn_score = round(float(accuracy_score(y_test, knn_grid.predict(X_test))), 2)

In [154]:
lr_score, knn_score

(0.82, 0.83)

KNN обогнал логистическую регрессию на 1% при выбранных параметрах разбиения